<h1  class="text-center mt-4">Edit your Profile</h1>

<%= render 'form' %>

<div class="text-center mt-4">
 <%= link_to 'Return to Article Listing', articles_path, class: "btn btn-primary" %>
 </div>
