<h1  class="text-center mt-4">Sign Up</h1>

<%= render 'form' %>

<div class="text-center mt-4">
    <p>Already have an account?</p>
    <%= link_to 'Login', login_path, class: "btn btn-primary" %>
 </div>
