<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-10">
            <div class="card text-center mt-5 p-4">
                <h1>About the Blog</h1>
                    <div class="card-body">
                        <p>Welcome to the blog!</p>

                            <%= link_to 'Articles Listing', articles_path, class:"btn btn-primary" %>
                            <%= link_to 'Home Page', root_path, class:"btn btn-primary" %>
                    </div>
            </div>

        </div>
    </div>
</div>

