
<div class="container text-center">
    <div class="card mt-5 home-hero">
    <div class="hero-text">
    <h1 class="display-1 font-weight-bold">Rails Blog</h1>
        <button type="button" class="btn btn-dark btn-lg"><%= link_to 'Articles Listing', articles_path %></button>
        <button type="button" class="btn btn-dark btn-lg"><%= link_to 'About Page', about_path %></button>
    </div>
    </div>
</div>


